<ion-content [fullscreen]="true">
  <ng-container *ngIf="notesArr?.length > 0; else noKeys">
    <ng-container *ngFor="let note of notesArr">
      <div (click)="openNote(note);" class="m-2 pl-2 pb-2 rounded border-2 shadow-[#5260ff] border-[#5260ff] flex flex-col shadow-md hover:shadow-none hover:border-[#fff]">
        <h3>{{note.title}}</h3>
        <p>{{note.content}}</p>
      </div>
    </ng-container>
  </ng-container>
</ion-content>
<ng-template #noKeys>
  <div class="mx-auto w-[50%] mt-[50%]">
    <p class="text-xl pb-4">
      You currently have no notes, click the link below for tips on how to journal.
    </p>
    <a href="https://vanillapapers.net/2019/11/13/journaling-tips/" class="text-xl text-center">
      Tips and tricks
    </a>
  </div>
</ng-template>
