<div class="h-screen">
  <ion-textarea class="border-b-2" required="true" rows="1" [(ngModel)]="note.title" name="title" placeholder="Title..."></ion-textarea>
  <ion-textarea autofocus="true" required="true" rows="20" [(ngModel)]="note.content" name="content" autoGrow="true" class=" h-[10vh] relative" placeholder="Note"></ion-textarea>
  <button (click)="saveNote()" class="z-10 absolute ml-[80%] mt-[145%] rounded-full bg-[#1f1f1f] h-[8vh] w-[65px]"><ion-icon class="text-3xl text-white active:text-[#6a64ff]" name="save"></ion-icon></button>
  <button (click)="return()" class="z-10 absolute ml-[80%] mt-[165%] rounded-full bg-[#1f1f1f] h-[8vh] w-[65px]"><ion-icon class="text-3xl text-white active:text-[#6a64ff]" name="arrow-back"></ion-icon></button>
</div>

